*:not(input)
{
	color: white;
	background-color: black;
	font-family: "Courier New";
}

/*
#map
{
	border: 1px solid red
}
*/
.index
{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	left: 50%;
	top: 50%;
	height: 70px;
	width: 200px;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	position: absolute;
}

.Wilderness
{
	color: red;
}

.Lac
{
	color: lightblue;
}

.Forest
{
	color: green;
}

.Hill
{
	color: brown;
}

.Plain
{
	color: lightgreen;
}